/*Lute Lillo Portero*/
html, body
{
  height: 100%;
  overflow: hidden;
}
body {
    background-image: url("/public/images/cool-background.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    padding-left:420px;
    border-radius: 50px;
  }
  
.header h1 {
    position: relative;
    top: 35px;
    left: 10px;
    color: red;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.order p { 
    float: left;
    padding-top: 40px;
    padding-right: 30px;
    color:blue;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.order select{
    position: relative;
    top: 70px;
    right: 20px;
    padding-left: 10px;
}

.toppings {
    color: black;
    padding-top: 100px;
    padding-left:520px;
}

.special p{
    font-size: 25px;
    color: blue;
    font-family: "Times New Roman", Times, serif;
}
.special textarea{
    width:250px;
    height:100px;
}

.last h3{
    float: left;
    font-size: 25px;
    padding-left:520px;
    font-family: "Times New Roman", Times, serif;
    color: blue;
}

.last ul{
    padding-left:560px;
    padding-top: 10px;
}

.orderbtn{
    padding-left:520px;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    
    
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    margin-top:25px;
    margin-left: 5px;
    border: none;
    
    
  }
  .dropdown {
    position: relative;
    display: inline-block;
   
    
  }

  .dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }

  .dropdown-content option:hover {background-color: #3e8e41;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
